@font-face {
  font-family: 'krinkes';
  src: url('../images/KrinkesRegularPERSONAL.ttf');
}

:root {
  font: 16px / 1 'Carter One', cursive;
}

html {
  height: 100%;
}

body {
  margin: 1rem;
  min-height: 100%;
  padding: 0;
}

p {
  margin: 0;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: #e9ecef;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.login-section input {
  margin: 0 0.25rem 0 0.25rem;
}

.log-in-button {
  margin-top: 0.5rem;
  margin-bottom: 0;
  width: 5rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/baseballandbat.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  /*would like to prevent background pic from resizing */
  background-position: center;
  padding: 1rem;
  height: 12rem;
  justify-content: center;
  color: rgb(47, 79, 79);
}

h1 {
  font-family: 'krinkes', Fallback, sans-serif;
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

main {
  /* colors will change based on selected team */
  background-color: rgb(200, 60, 70);
  margin: 0;
  padding: 1rem;
  color: rgb(255, 255, 255);
}

select {
  width: 10rem;
  font-size: 0.75rem;
}

.roster {
  /* color will change based on selected team */
  padding: 1rem;
  background-color: rgb(31, 48, 129);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.manage-roster {
  /* color will change based on selected team */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 48, 129);
  padding-right: 1rem;
}

.actions {
  margin-left: 2rem;
}

.acquiring {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

/* li content not left-aligning */
li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.current-roster {
  overflow: scroll;
  height: 10rem;
  direction: rtl;
}

/*trying not to change colors on visit*/
h3:visited p:visited {
  color: inherit;
}

.actions {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 1rem;
  height: 2rem;
  width: 8rem;
  font-size: 1rem;
}

.outcomes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.expected-record {
  margin: 1rem;
}

/* missing numbers in ordered list */
ol {
  list-style-type: decimal;
}

.save-and-load {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-input {
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.save-and-load button {
  margin-top: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  font-size: 0.85rem;
}

.saved-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rosters-side-by-side {
  /* need to fix spillover on right side */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* color will change based on selected team */
  background-color: rgb(31, 48, 129);
}

.on-the-move {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movable-player {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.movable-player button {
  width: 2rem;
  margin: 0 0.5rem 0 0.5rem;
}

.projected-stats {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trade-controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player-bio {
  /* color will change based on selected team */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(31, 48, 129);
}

.player-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  .login-section {
    flex-direction: row;
  }

  .log-in-button {
    margin: 0;
  }
}
